spring:
  datasource:
    url: "jdbc:postgresql://localhost:5432/kvestado?serverTimezone=CET"
    username: "postgres"
    password: "123456"
#    driver-class-name: "org.mariadb.jdbc.Driver"
  jpa:
    database-platform: "org.hibernate.dialect.PostgreSQLDialect"
    hibernate:
      ddl-auto: "update"


server:
  port: 8080