# Gives priority to the controller
#always-use-default-target: true

server:
  # Heruko gives a random port at startup
  # heroku logs --tail
  port: ${PORT:8080}
  servlet:
    session:
      cookie:
        name: KVESTADOSESSIONID
        http-only: true
#        host-only: true
        secure: true
        # as long as in dev mode and the server is not running in the same domain
        same-site: NONE
        domain: kvestado.ga
#        path: /
#        max-age: 30M


spring:
  profiles:
    active: ${SPRING_PACTIVE:dev}