name: Client CD - Vercel
on:
  push:
    branches: [main]
jobs:
  build:
    name: Build (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
      fail-fast: false

    steps:
      - name: Step 1 - Checkout master branch
        uses: actions/checkout@v2

      # - name: Step 2 -  Build
      # run: |
      #   cd client
      #   npm install
      #   npm run build
      #   cd .next
      #   rm -rf .vercel

      - name: Step 2 - build & deploy
        uses: amondnet/vercel-action@v20
        with:
          vercel-token: ${{secrets.VERCEL_TOKEN }} # Required
          vercel-args: "--prod" #Optional
          vercel-org-id: ${{secrets.VERCEL_ORG_ID}} #Required
          vercel-project-id: ${{secrets.VERCEL_PROJECT_ID}} #Required
          working-directory: ./client
