name: Client CD - Vercel
on:
  push:
    branches: [main]
jobs:
  deploy:
    name: Build on (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
      fail-fast: false
    steps:
      - uses: actions/checkout@v2
      - name: Step - build
      - run: |
          cd client
          npm install
          npm run build
          npm run export
          rm -rf .vercel
      - name: Step - deploy
      - uses: amondnet/vercel-action@v20
        with:
          vercel-token: ${{ secrets.VERCEL_TOKEN }} # Required
          vercel-args: "--prod" #Optional
          vercel-org-id: ${{ secrets.VERCEL_ORG_ID}} #Required
          vercel-project-id: ${{ secrets.VERCEL_PROJECT_ID}} #Required
          working-directory: ./client/out
